#set ( $basepath = "sql/base/$targetDatabase" )
#set ( $dbprops = $properties.load("$generator.TemplatePath/sql/base/$targetDatabase/db.props") )
#set ( $fname= "sql/base/$targetDatabase/table.vm" )
#set ( $fnamekeys= "sql/base/$targetDatabase/tablefk.vm" )

#foreach ($dataModel in $dataModels)
        
  #set ( $outFile = "${dataModel.name}.sql" )
        
  File to be created: $outFile
  
  #set ( $database = $dataModel.database )
  #foreach ($tbl in $database.tables)
    #if (!$tbl.isSkipSql())
      $generator.parse($fname,$outFile,"table",$tbl)
    #end
  #end
    
  #foreach ($tbl in $database.tables)
    #if (!$tbl.isSkipSql())
      $generator.parse($fnamekeys,$outFile,"tablefk",$tbl)
    #end
  #end    
#end
