#foreach ($databaseModel in $appData.Databases)
USE MASTER
;

DROP DATABASE $databaseModel.Name
;

CREATE DATABASE $databaseModel.Name
ON $sybaseDatadev = $sybaseDatasize
LOG ON $sybaseLogdev = $sybaseLogsize
#end
