target
maven.log
velocity.log*

maven-eclipse.xml
*.iml

*~
.classpath
.project
.externalToolBuilders
logs
.idea
.settings
*.ser

*torque.usersettings.properties
/.apt_generated/
/.apt_generated_tests/
