# -------------------------------------------------------------------
# B U I L D  P R O P E R T I E S
# -------------------------------------------------------------------
# These set of jars will use the current lib directory checked in
# with the Turbine project.
# -------------------------------------------------------------------

lib.repo = lib

activation.jar = ${lib.repo}/activation-1.0.1.jar
ecs.jar = ${lib.repo}/ecs-1.4.1.jar
regexp.jar = ${lib.repo}/jakarta-regexp-1.3-dev.jar
jdbc.jar = ${lib.repo}/jdbc2_0-stdext.jar
jndi.jar = ${lib.repo}/jndi-1.2.1.jar
jta.jar = ${lib.repo}/jta1.0.1.jar
junit.jar = ${lib.repo}/junit-3.2.jar
log4j.jar = ${lib.repo}/log4j-1.1.jar
javamail.jar = ${lib.repo}/mail-1.2.jar
oro.jar = ${lib.repo}/oro.jar
servlet.jar = ${lib.repo}/servlet-2.2-CVSHEAD-12-04-00.jar
velocity.jar = ${lib.repo}/velocity-1.2-dev.jar
village.jar = ${lib.repo}/village-1.5.3-dev.jar
xalan.jar = ${lib.repo}/xalan-2.0.0.jar
xerces.jar = ${lib.repo}/xerces-1.3.0.jar
xmlrpc.jar = ${lib.repo}/xmlrpc.jar

webmacro.jar = ${lib.repo}/webmacro-0.94.jar
#freemarker.jar = ${lib.repo}/freemarker.jar
#castor.jar = ${lib.repo}/castor.jar
