/* Use this script to bootstrap you system into usage of secure passwords. */
/* It will set the administrators password to turbine (using SHA digest)   */
/* Then, you will be able to log in and change administrator's passwords,  */
/* and then set initial passwords for your users.                          */

UPDATE TURBINE_USER SET PASSWORD_VALUE = '4vUZ7HvhmiKt/W54Xyuz7oza' WHERE LOGIN_NAME = 'turbine';
