REM - Batch file to automatically create
REM - MySQL database from Windows machines :-)

#if ($databaseUser)
    #set ($user = "-u $databaseUser")
#else
    #set ($user = "")
#end

#if ($databasePassword)
    #set ($password = "-p$databasePassword")
#else
    #set ($password = "")
#end

#if ($databaseHost)
    #set ($host = "-h $databaseHost")
#else
    #set ($host = "")
#end

#foreach ($databaseModel in $appData.Databases)
mysqladmin $user $password $host --force drop $databaseModel.Name
mysqladmin $user $password $host --force create $databaseModel.Name
#end
