/*
 * Copyright 2001-2005 The Apache Software Foundation.
 *
 * Licensed under the Apache License, Version 2.0 (the "License")
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

## @author <a href="mailto:hps@intermeta.de">Henning P. Schmiedehausen</a>
## @version $Id$

##
## Build the <head> ... </head> tag of a web page with VelocityOnly Layout
## 

#macro (TurbineHtmlHead)
<head>
  #if ($!page.Title)
    <title>$page.Title</title>
  #end
  #if ($page.MetaTags.size() > 0)
    #foreach($metaTag in $page.MetaTags.keySet())
      <meta name="$metaTag" content="$page.MetaTags.get($metaTag)" />
    #end
  #end
  #if ($page.HttpEquivs.size() > 0)
    #foreach($httpEquiv in $page.HttpEquivs.keySet())
      <meta http-equiv="$httpEquiv" content="$page.HttpEquivs.get($httpEquiv)" />
    #end
  #end
  #if ($page.StyleSheets.size() > 0)
    #foreach( $styleSheet in $page.StyleSheets )
      <link rel="stylesheet" href="$styleSheet.Url"
        #if($!styleSheet.Type)  type="$styleSheet.Type"   #end
        #if($!styleSheet.Media) media="$styleSheet.Media" #end
        #if($!styleSheet.Title) title="$styleSheet.Title" #end
      />
    #end
  #end
  #if ($page.Styles.size() > 0)
      <style type="text/css">
    #foreach( $style in $page.Styles )
        $!style
    #end
      </style>
  #end
  #if ($page.Scripts.size() > 0)
    #foreach( $script in $page.Scripts )
      <script type="text/javascript" src="$script" language="JavaScript"></script>
    #end
  #end
</head>
#end

##
## Build the Tags for the Body start tag of a web page with VelocityOnly Layout
## <body #TurbineHtmlBodyAttributes() >
## 

#macro (TurbineHtmlBodyAttributes)
#if ($page.BodyAttributes.size() > 0)
    #foreach( $attributeName in $page.BodyAttributes.keySet() )
      $attributeName = "$page.BodyAttributes.get($attributeName)"
    #end
#end
#end
