## @version $Id$
## @author <a href="mailto:hps@intermeta.de">Henning P. Schmiedehausen</a>

##
## Build the <head> ... </head> tag of a web page with VelocityOnly Layout
## 
#macro (TurbineHtmlHead)
<head>
  #if ($!page.Title)
    <title>$page.Title</title>
  #end
  #if ($page.MetaTags.size() > 0)
    #foreach($metaTag in $page.MetaTags.keySet())
      <meta name="$metaTag" content="$page.MetaTags.get($metaTag)">
    #end
  #end
  #if ($page.HttpEquivs.size() > 0)
    #foreach($httpEquiv in $page.HttpEquivs.keySet())
      <meta http-equiv="$httpEquiv" content="$page.HttpEquivs.get($httpEquiv)">
    #end
  #end
  #if ($page.StyleSheets.size() > 0)
    #foreach( $styleSheet in $page.StyleSheets )
      <link rel="stylesheet" href="$styleSheet.Url"
        #if($!styleSheet.Type)  type="$styleSheet.Type"   #end
        #if($!styleSheet.Media) media="$styleSheet.Media" #end
        #if($!styleSheet.Title) title="$styleSheet.Title" #end
      >
    #end
  #end
  #if ($page.Scripts.size() > 0)
    #foreach( $script in $page.Scripts )
      <script type="text/javascript" src="$script" language="JavaScript"></script>
    #end
  #end
</head>
#end

##
## Build the <body> start tag of a web page with VelocityOnly Layout
## 
#macro (TurbineHtmlBodyStart)
#if ($page.BodyAttributes.size() > 0)
  <body
    #foreach( $attributeName in $page.BodyAttributes.keySet() )
      $attributeName = "$page.BodyAttributes.get($attributeName)"
    #end
  >
#else
  <body>
#end
#end


