#set ( $fname = "sql/id-table/idtable.$targetDatabase" )

#foreach ($databaseModel in $appData.Databases)
  #if ($appData.MultipleDatabases)
    #set ( $outFile = "${project}-${databaseModel.Name}-id-table-init.sql" )
  #else
    #set ( $outFile = "${project}-id-table-init.sql" )
  #end
$generator.parse($fname,$outFile,"tables",$databaseModel.Tables)
#end
