<table bgcolor="#023262" width="100%">
<tr>
  <td>&nbsp;</td>
  <td align="right"><img src="$content.getURI("/images/jakarta-logo-blue.gif")"/></td>
</tr>
</table>

<div align="center"><h1>Congratulations, it worked!</h1></div>

You're now successfully running a <a
href="http://jakarta.apache.org/turbine/">Turbine</a> based
application, deployed to <font color="red">$data.ServerData.ContextPath</a></font> on
your web container.<p/>

You can (and should!) change or remove this page at any time. It is
intended to give you immediate feedback if you just deployed an newly
setup Turbine application.</p>

<img src="$content.getURI("/images/powered-by-logo.gif")"/>
